body {
  margin: 10% 25%;
}

#container {
background-color: rgb(138, 134, 54);
padding: 10px;
border-radius: 3px;
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content:center;
/*border: 2px solid rgb(169, 224, 173);*/

}

.numberButton{
background-color: rgb(38, 173, 52);
width:23%;
color: white;
padding: 20px;
border: 1px solid rgb(169, 224, 173);
border-radius: 3px;
margin: 1%;
}

.operator{
background-color: rgb(135, 218, 136);
width:23%;
color: white;
padding: 20px;
border: 1px solid rgb(169, 224, 173);
border-radius: 3px;
margin: 1%;
}

#header{
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 3px;
  margin: 2px;
}

#clear{
  background-color: green;
  width: 23%;
  padding: 20px;
  color: white;
  border: 1px solid rgb(169, 224, 173);
  border-radius: 3px;
  margin:1%;
  background-color: green;


}

#display{
  text-align:center;
  font-family:sans-serif;
  font-weight: 400;

  width: 75%;
  color: white;
  border: 1px solid rgb(169, 224, 173);
  border-radius: 3px;
  margin:1%;
  background-color: green;


}

#main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
